name: Deploy to Koyeb

on:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: staging
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and configure Koyeb CLI
        uses: koyeb-community/koyeb-actions@v2
        with:
          api_token: ${{ secrets.KOYEB_API_TOKEN }}

      - name: Deploy to Koyeb (Dockerfile)
        uses: koyeb/action-git-deploy@v1
        with:
          app-name: ${{ secrets.KOYEB_APP_NAME }}
          service-name: ${{ secrets.KOYEB_SERVICE_NAME }}

          git-builder: docker
          git-docker-dockerfile: eshop/Dockerfile

          service-instance-type: nano
          service-regions: was

          service-ports: "8080:http"
          service-routes: "/:8080"
          service-checks: "8080:http:/"

          service-env: "APP_TIME_ZONE=Asia/Jakarta"